.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.online-form-container {
  margin: 10px;
  text-align: center;
}

.scanned-form-container {
  width: 100%;
  height: 100%;
}